smartcontract/node_modules
smartcontract/.env
smartcontract/coverage
smartcontract/coverage.json
smartcontract/typechain
smartcontract/typechain-types

# Hardhat files
smartcontract/cache
smartcontract/artifacts

smartcontract/hardhat.config.js

# website
website/.env
package-lock.json
website/src/components/MyTest.js
website/src/components/Test.js
website/node_modules